@media screen and (max-width: 1599px) and (min-width: 992px) {
    /* .contact-header {
    font: Bold 30px/78px Didot !important;
  }
  .contact-msg-text,
  .contact-insta-text {
    font: normal 15px/80px Didot !important;
    height: 55px;
  } */
    .contact-icon-msg {
        font-size: 30px !important;
    }
    .contact-icon-insta {
        font-size: 35px !important;
    }
    /* .form-div input {
    font-size: 12px !important;
    /* padding: 10px 0 !important;
    width: 205px !important; */
}

*/ .form-div textarea {
    font-size: 12px !important;
    width: 205px !important;
}

.label-txt {
    font: 400 12px Arial !important;
}


/* .form-btn {
    font-size: 12px !important;
  } */


/* .contact-info-msg-div,
  .contact-info-insta-div {
    align-items: flex-end !important;
  } */


/* .nav-item {
    font-size: 13px !important;
  } */


/* .menu-bar,
  .logo {
    top: 25px !important;
  } */

.contact-div {
    top: 28vh;
}

/* .home-sub-title {
    padding: 0!important;
} */


/* .home-title-div {
    top: 25vh !important;
    width: 450px !important;
  }
  .home-title {
    font: Bold 25px/78px Didot !important;
  }
  .home-sub-title {
    font-size: 12px !important;
    letter-spacing: 0.04rem!important;
    padding: 0!important;
  } */


/* .insta-img {
    width: 230px !important;
    height: 230px !important;
  } */


/* .insta-img-text {
    width: 230px !important;
    font-size: 13px;
  } */


/* .inner-header-service-section {
    font: Bold 18px/78px Didot;
} */


}
@media screen and (max-width: 1600px) and (min-width: 1600px) {
    /* .form-div input,
  .form-div textarea {
    width: 250px !important;
  } */
}
@media screen and (max-width: 1920px) and (min-width: 1599px) {
    .footer-left-span,
    .footer-right-span {
        font-size: 20px !important;
        padding: 13px !important;
    }
}
@media screen and (min-width: 1921px) {
    .footer-left-span,
    .footer-right-span {
        font-size: 27px !important;
        padding: 20px !important;
    }
}

/* @media screen and (max-width: 2400px) and (min-width: 1599px) {
  .insta-img {
    min-width: 350px !important;
    min-height: 350px !important;
  }
}
@media screen and (min-width: 2400px) {
  .insta-img {
    min-width: 450px !important;
    min-height: 450px !important;
  }
}
@media screen and (min-width: 2880px) {
  .insta-img {
    min-width: 500px !important;
    min-height: 500px !important;
  }
} */
@media screen and (max-width: 1199px) {
    .menu-bar{
        left: 35vw;
    }
    .menu-bar ul {
        justify-content: space-around;
        padding: 0!important;
        width: 60vw;
    }
    
    .nav-item {
        width: unset!important
    }

    .bio-section .home-title-div{
        width: 44vw;
    }
    .home-title-div {
        top: 20vh!important;
        padding-bottom: 2vh;
    }
    
    .services-section .home-title-div {
        left: 15vw!important;
    }
    
    .home-title {
        font: Bold 6vh/6.8vh Didot;
    }
    
    /* .home-sub-title {
        padding: 2vh 0!important;
    } */
    .services-section span{
        padding-bottom: 2vh;
        height:unset;
      }
    .home-center-fit {
        margin-left: 0;
        width: 100vw;
        object-fit: scale-down;
        height:100vh ;
    }
    
    .insta-img,
    .insta-img-text {
        width: 17vw !important;
        font-size: 1.5vh;
    }
    
    .main-contact-div {
        left: 0!important;
    }
    
    .contact-div,
    .form-div {
        left: 16vw!important;
        width: 69vw!important;
    }
    
    .contact-header {
        font: Bold 5vh/7vh Didot!important;
    }
    
    .contact-info {
        width: unset!important;
    }
    
    .contact-msg-text,
    .contact-insta-text {
        font: normal 2.5vh/8vh Didot!important;
    }
    .insta-feed{
        padding: 5vh 5vh 0 14vw;
    }
    .services-center-fit{
        height:100vh!important ;
        object-fit: scale-down;
    }
}

/* @media screen and (max-width: 1199px) and (min-width:1024px) {
    .nav-active-bar {
        top: 9vh!important;
    }
} */
@media (max-width: 767px) {
    .logo {
        object-fit: scale-down;
        width: 100px!important;
        height: unset!important;
    }
    
    .menu-bar {
        height: 10vh!important;
        left: 0vw!important;
        top: 9.5vh!important;
    }
    
    .menu-bar ul {
        justify-content: space-around;
        padding: 3px!important;
        width: 368px;
    }
    
    .nav-item {
        width: unset!important
    }
    /* .nav-active-bar {
        top: 7.7vh!important;
    } */
    
    .home-title-div {
        left: 10vw!important;
        top: 20vh!important;
        width: 55vw!important;
        padding-bottom: 2vh;
        height: unset;
    }
    
    .home-title {
        font: Bold 4vh/5.5vh Didot!important;
    }
    
    .home-sub-title {
        /* padding: 3vw 0!important; */
        font-size: 1.5vh!important;
    }
    .services-section span:not(.inner-body){
        padding: 2vh 0;
        height:unset;
        width: 260px;
    /* color: #fff; */
    line-height: 27px;
      }
    .services-section .home-title-div,.bio-section .home-title-div {
        left: 15vw!important;
    }
    
    .insta-feed{
        padding: 5vh 5vh 0 14vw;
    }
    .home-center-fit {
        margin-left: 0;
        width: 100vw;
        object-fit: scale-down;
        height:100vh ;
    }
    
    .services-center-fit{
        height:100vh ;
        object-fit: scale-down;
    }
    .insta-img-first-row,
    .insta-img-second-row {
        display: block;
    }
    
    .insta-content {
        display: flex;
        justify-content: space-between;
        width: 10vw;
    }
    
    .insta-img,
    .insta-img-text {
        width: 33vw!important;
    }
    
    .insta-img-first-row div,
    .insta-img-second-row div {
        padding-bottom: 2vh;
    }
    
    .insta-header-text {
        font: Bold 20px/53px Didot!important;
    }
    
    .insta-icon {
        width: 32px!important;
        object-fit: scale-down;
    }
    
    .contact-div {
        top: 25vh!important;
        left: 11vw!important;
        display: block!important;
        width: 70vw!important;
    }
    
    .form-div {
        left: 11vw!important;
        width: 70vw!important;
    }
    
    .contact-header {
        height: 6vh!important;
        font: Bold 5vh/7vh Didot!important;
    }
    
    .contact-msg-text,
    .contact-insta-text {
        font: normal 2.5vh/8vh Didot!important;
    }
    
    .contact-icon-msg,
    .contact-icon-insta {
        padding-right: 2.1vw!important;
    }
    
    .form-div input,
    .form-div textarea {
        width: 20vw!important;
    }
}