body {
  /* overflow-y: hidden; */
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background: transparent linear-gradient(180deg, #131212 0%, #131212 59%, #131212 100%) 0% 0% no-repeat padding-box; */
  background: #0f0f0f 0% 0% no-repeat padding-box;
}
.services-section::-webkit-scrollbar,.home-section::-webkit-scrollbar {
    width: 0px;
}

.services-section::-webkit-scrollbar-thumb,.home-section::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

.services-section::-webkit-scrollbar-track,.home-section::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.imgbox {
  display: grid;
  /* background: transparent linear-gradient(180deg, #131212 0%, #131212 59%, #131212 100%) 0% 0% no-repeat padding-box; */
  opacity: 1;
  background: #0f0f0f 0% 0% no-repeat padding-box
}

.home-center-fit {
  /* max-width: 100%;
  max-height: 118vh; */
  /* margin-left: 25vw; */
  /* width: 75%; */
  margin-left: 25vw;
  width: 75vw;
  object-fit: cover;
}

.services-center-fit {
  /* max-width: 100%;
  max-height: 123vh; */
  /* margin-left: 27.7vw; */
  margin-left: 27.7vw;
  width: 100%;
  object-fit: cover;
  height:100vh;
}

.logo {
  top: 2.5vh;
  left: 12vw;
  width: 13vw;
  height: auto;
  /* background: transparent url("../img/Company Logo.png") 0% 0%
    no-repeat padding-box; */
  opacity: 1;
  position: absolute;
  object-fit: cover;
}

@font-face {
  font-family: ProximaNovaRegular;
  src: url("../fonts/proxima_ssv/ProximaNova-Regular.otf");
}

@font-face {
  font-family: ProximaNovaThin;
  src: url("../fonts/proxima_ssv/Proxima Nova Thin.otf");
}

.nav-item {
  top: 140px;
  left: 830px;
  width: 7vw;
  height: 22px;
  text-align: left;
  font-family: ProximaNovaRegular;
  letter-spacing: 0;
  color: #ffffff;
  text-transform: capitalize;
  opacity: 1;
  font-size: 2.1vh;
}

.menu-bar {
  position: absolute;
  /* width: 100%; */
  height: 160px;
  display: flex;
  float: right;
  left: 44vw;
  align-items: center;
  top: 2.5vh;
}

.menu-bar ul {
  display: flex;
  list-style-type: none;
}

.home-title {
  text-align: left;
  font: Bold 6vh/7.8vh Didot;
  letter-spacing: 0;
  color: #dddddd;
  text-transform: capitalize;
  opacity: 1;
  padding-top: 1.5rem;
}

.home-title-div {
  position: absolute;
  top: 25vh;
  width: 32vw;
}

.home-section{
    position:absolute;
}
.home-section .home-title-div {
  left: 26vw;
}

.bio-section .home-title-div{
  left: 20vw;
  top:33vh;
}

.services-section .home-title-div{
  /* width: unset; */
  left: 20vw;
  padding-bottom: 2vh;
}

.services-section .home-title,.services-section .title{
  padding: 0;
}
.home-sub-title span{
  display: flex;
  align-items: center;
  height: 7vh;
}
.threading {
  font-size: 1.8vh !important;
  color: #a2a2a2 !important;
  font-family: unset !important;
}
.home-sub-title-div {
  position: absolute;
  top: 20vw;
  left: 37vw;
  width: 494px;
  height: 334px;
}

.home-sub-title {
  text-align: left;
  font-family: ProximaNovaThin;
  letter-spacing: 0.06rem;
  color: #dddddd;
  opacity: 1;
  padding: 0.5rem 0;
  font-size: 1.65vh;
}

/* .home-sub-title p:first-child {
      padding-top: 3vw
  } */

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding-bottom: 8px;
}

/* .nav-item a:hover {
  border-bottom: 2.3px solid red;
} */

.footer {
  top: 85.5vh;
  left: 81vw;
  /* width: 215px; */
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  align-items: center;
}

.footer-left-btn {
  width: 66px;
  height: 66px;
  background: transparent url("../img/Group 4.png") 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
}

.footer-right-btn {
  width: 66px;
  height: 66px;
  background: transparent url("../img/Group 5.png") 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.bio-section {
  transform: translate(98.7vw, -57vw);
}
.services-section{
  transform: translate(197.4vw,-100vh);
}

.inner-header-service-section {
  font: Bold 25px/78px Didot;
}

.insta-feed {
  background: #0f0f0f 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 25vh 5vh 0 17vw;
}

.insta-icon {
  /* background: transparent url("../img/Group 19.png") 0% 0% no-repeat padding-box; */
  opacity: 1;
  top: 1153px;
  left: 312px;
  width: 49px;
  height: 49px;
}

.insta-header-text {
  top: 1152px;
  left: 381px;
  width: 475px;
  height: 52px;
  text-align: left;
  font: Bold 32px/53px Didot;
  letter-spacing: 0;
  color: #ffffff;
  text-transform: lowercase;
  opacity: 1;
  padding-left: 20px;
}

.insta-header {
  display: flex;
}

.insta-content {
  padding: 5vh 0 8vh 0;
}

.insta-img-first-row,
.insta-img-second-row {
  display: flex;
  padding-top: 6vh;
  justify-content: space-between;
}

.insta-img {
  width: 19vw !important;
  height: auto;
  padding: 0 3vh 2vh 0;
}

.insta-img-text {
  width: 19vw;
  /* height: 4.5vh; */
  text-align: left;
  font-family: ProximaNovaThin;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  font-size: 1.6vh;
}

.contact-header {
  top: 213px;
  left: 278px;
  width: 219px;
  height: 76px;
  text-align: left;
  font: Bold 6vh/7vh Didot;
  letter-spacing: 0;
  color: #dddddd;
  opacity: 1;
}

.contact-msg-icon {
  top: 256px;
  left: 692px;
  width: 49px;
  height: 49px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-right: 45px;
}

.contact-insta-icon {
  top: 312px;
  left: 692px;
  width: 49px;
  height: 49px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-right: 45px;
}

.contact-msg-text,
.contact-insta-text {
  text-align: left;
  text-decoration: underline;
  font: normal 3vh/8vh Didot;
  letter-spacing: 0;
  color: #dddddd;
  opacity: 1;
}

.contact-section {
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
  transform: translate(296.6vw, -200vh);
  width: 100%;
  height: 101%;
}

.contact-div {
  top: 25vh;
  left: 22vw;
  width: 51vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  top: 234px;
  left: 774px;
  width: 25vw;
  height: 100%;
}

.contact-info-msg-div,
.contact-info-insta-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* .contact-info-msg-div {
  width: 25vw;
}
.contact-info-insta-div {
  width: 23.6vw;
} */

.form-div {
  top: 53vh;
  left: 22vw;
  width: 51vw;
  position: absolute;
}

.form-row:not(:nth-child(1)) {
  /* display: flex; */
  /* justify-content: space-between; */
  padding-top: 5vh;
}

.label-txt {
  text-align: left;
  font: 400 20px Arial;
  letter-spacing: 0;
  color: #707070;
  opacity: 1;
}

.label-txt-div {
  height: 15vh;
}

.form-btn {
  padding: 1.5vh 14vh;
  /* background: red; */
  background: #e82525 0% 0% no-repeat padding-box;
  border: none;
  color: #fff;
  font-size: 1.2vh;
  border-radius: 2.5vh;
  cursor: pointer;
  letter-spacing: 0.05rem;
}

.form-btn-div {
  display: flex;
  justify-content: center;
}

/* .nav-item.active a {
  border-bottom: 2.3px solid red;
} */

.hide-section {
  opacity: 0;
  display: none;
  animation: 2s ease 0s normal forwards 1 fadeout;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.section {
  transition: 2s ease;
}

/* .services-center-fit {
    transition: 2s ease;
} */

.home-title-div {
  transition: 1s ease-in-out;
  z-index: 100;
}

/* .contact-msg-icon{
  background: transparent url("assets/img/img_377947.png") 0% 0% no-repeat
    padding-box;
} */

.contact-insta-icon {
  background: transparent url("assets/img/Group 19.png") 0% 0% no-repeat padding-box;
}

.form-div input,
.form-div textarea {
  padding: 2vh 0;
  width: 16vw;
  background: none;
  border: none;
  border-bottom: 0.15vh solid #dddddd;
  text-align: left;
  font-size: 1.5vh;
  color: #dddddd;
}

.form-div textarea {
  height: 20vh;
}

.form-div input::placeholder,
.form-div textarea::placeholder {
  color: #dddddd;
}

.form-div input:focus,
.form-div textarea:focus,
.form-btn:focus {
  outline: none;
}

.form-btn:hover {
  background: #dd4f4f;
}

.page {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.main-contact-div {
  position: absolute;
  left: 5vw;
}

p {
  margin: 0;
}

.contact-icon-msg {
  font-size: 3vh;
  color: white;
  padding-right: 1.1vw;
}

.contact-icon-insta {
  font-size: 3.6vh;
  color: white;
  padding-right: 1.1vw;
}

.footer-left-span {
  font-size: 12px;
  padding: 10px;
  background: red;
  color: white;
  cursor: pointer;
}

.footer-right-span {
  font-size: 12px;
  padding: 10px;
  background: white;
  cursor: pointer;
}

.nav-active-bar {
  position: absolute;
  background: #ac0000;
  height: 0.2vh;
  top: 99px;
  transition: 2s ease;
}

.services-section ,.home-section{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: #0f0f0f 0% 0% no-repeat padding-box;
}
img{
    transition: all 0.5s ease-in-out;
}